<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Abrovink.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Abrovink.Properties.Settings>
            <setting name="Options_0" serializeAs="String">
                <value />
            </setting>
            <setting name="Options_1" serializeAs="String">
                <value />
            </setting>
            <setting name="Credits" serializeAs="String">
                <value>Toolbox icon made by 'Elegant Themes' from www.flaticon.com
Eyedropper icon made by 'Madebyoliver' from www.flaticon.com
Ruler icon made by 'Freepik' from www.flaticon.com</value>
            </setting>
        </Abrovink.Properties.Settings>
    </userSettings>
</configuration>